/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


/* Asterisk wildcard selector added to overide default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Genral styling*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Overlock', sans-serif;
}

/* Header */
header {
    background-color: rgb(251, 184, 15);
    padding: 0.5rem 1rem ;
    z-index: 100;
    width: 100%;
    position: fixed;
    box-shadow: 0 0.3em 0.3em rgba(236, 173, 14, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

#menu {
    font-size: 120%;
    list-style-type: none;
}

#menu > li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.active-page {
    border-bottom: 1px solid white;
}

/* Navigation menu styles */
nav {
    position: absolute;
    background-color: rgb(251, 184, 15);
    width: 100%;
    left: 0;
    padding-left: 1rem;
    box-shadow: 0 0.3em 0.3em rgba(236, 173, 14, 0.75);
    display: none;
    top: 100%;
}

/* Menu Toggle */
#menu-toggle:checked~nav {
    display: block;
}

#menu-toggle {
    display: none;
}

.menu-toggle-label {
    font-size: 1.5rem;
}

/* Main content*/
main {
    background-color: white;
    /* make main content take up surplus space to push footer to bottom */
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Footer */
footer {
    background-color: rgb(251, 184, 15);
}